## What is pandas
- used for Data Handling and analysis
- works best with tabular data (like excel)
- built on top on numpy

In [ ]:
import pandas as pd

data = [10, 20, 30, 40, 50]
print(data)
print()
s = pd.Series(data)
print(s)
type(s)
print()
s2 = pd.Series([10, 20, 30] , index=['a', 'b', 'c'])
print(s2)
print()

s4 = pd.Series(5, index=["x" , "y" , "z"])
print(s4)

[10, 20, 30, 40, 50]

0    10
1    20
2    30
3    40
4    50
dtype: int64

a    10
b    20
c    30
dtype: int64
x    5
y    5
z    5
dtype: int64

In [ ]:
import pandas as pd

data ={
    "Name" : ["Atyant" , "Aditya" , "Asmit" , "Prabhav" , "Farhan"] ,
    "Age" : [20 , 21 , 21 , 21, 22] ,
    "City" : ["Prayagraj" , "Prayagraj" , "Prayagraj" , "Prayagraj" , "Prayagraj"]
}

df = pd.DataFrame(data)

print(df)

Name             [Atyant, Aditya, Asmit, Prabhav, Farhan]
Age                                  [20, 21, 21, 21, 22]
City    [Prayagraj, Prayagraj, Prayagraj, Prayagraj, P...
dtype: object

Question-> represent the marks of the students in a series where index is the name of the student

In [12]:
import pandas as pd

data = [50,60,75,89,42,98]
name = ['Ashish' , 'Avin' , 'Deva' , 'Dipen' , 'Om' , 'Raghu']
s = pd.Series(data , index=name)
print(s)

Ashish    50
Avin      60
Deva      75
Dipen     89
Om        42
Raghu     98
dtype: int64